$cl-yellow-hover: #f5d33b;
$cl-yellow: #F5AD3B; 
$cl-darkGray: #4D4D4D;
$cl-gray: #666666;
$cl-grayText: #4E4D4D;
$cl-softGray: #E1E1E1;
$cl-success: #43AD4B;
$cl-white: #FFFFFF;
$cl-black: #333333;
$cl-gray-benefits: #E6E6E6;
$cl-grayStar: #747474;
$cl-red: #FF3333;
$gradient-black: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(253,29,29,0) 50%, rgba(252,176,69,0) 100%);