.footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 4rem;
  min-height: 20rem;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  padding-bottom: 10rem;
  background: url("../assets/img/edificios.png") bottom right / 45% no-repeat,
    url("../assets/img/edificios-reverse.png") bottom left / 45% no-repeat;
  background-color: $cl-grayBackground;
  &__main {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 1rem;
  }
  &__social-media {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    @media screen and (max-width: $breakpoint-tablet) {
      width: 100%;
      justify-content: center;
    }
  }
  &__social-icon {
    color: $cl-black;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid $cl-black;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      color: $cl-red;
      border-color: $cl-red;
    }
  }
  &__block {
    margin: 1rem 0;
    padding: 0 1rem;
    @media screen and (max-width: $breakpoint-tablet) {
      text-align: center;
    }
    &-title {
      text-align: left;
      margin: 0;
      cursor: default;
      @media screen and (max-width: $breakpoint-tablet) {
        text-align: center;
      }
    }
    &-content {
      font-family: $SourceSans3;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 1rem 0;
    }
  }
  &__foot {
    font-family: $SourceSans3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
    background-size: cover;
    background-position: center;
    margin: 1rem 0;
    @media screen and (max-width: $breakpoint-tablet) {
      text-align: center;
    }
  }
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $cl-gray;
  }
  &__link {
    color: $cl-red;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    &__contact {
      width: 100%;
      align-items: center;
      &-title {
        text-align: center;
        font-size: 1.4rem;
      }
      &-media {
        & p {
          text-align: center;
        }
      }
    }
    &__foot {
      flex-direction: column;
    }
  }
}
