.header {
  position: sticky;
  top: 0;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  height: $headerHeight;
  justify-content: space-between;
  align-items: center;
  transition-duration: 500ms;
  z-index: 99;
  background-color: $cl-primary;
  &__nav{
    @media screen and (max-width: $breakpoint-desktop){
      display: none;
    }
    &-control {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 2rem;
      background-color: transparent;
      outline: none;
      border: 2px solid white;
      border-radius: .25rem;
      cursor: pointer;
      &-container {
        display: none;
        @media screen and (max-width: $breakpoint-desktop){
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          margin-left: 1.5rem;
          height: 3rem;
          width: 3rem;
        }
      }
      &-icon {
        color: white;
        font-size: 1.25rem;
      }
      
    }
    &--opened {
      @media screen and (max-width: $breakpoint-desktop){
        display: flex;
        position: absolute;
        top: $headerHeight;
        min-height: calc(100vh - 100px - 24rem);
        height: calc(100vh - 100px - 24rem);
        background-color: $cl-primary;
        width: 100%;
        & .nav__items {
          display: flex;
          flex-direction: column  ;
        }
      }
      
    }
  }
  @media screen and (max-width: $breakpoint-desktop){
    justify-content: center;
  }
}