.pagination {
  display: flex;
  gap: 0.5rem;
  &__button {
    color: $cl-gray;
    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px $cl-gray;
    cursor: pointer;
    font-family: $SourceSans3;
    &:hover {
      background-color: $cl-grayBackground;
    }
    &--disabled {
      color: $cl-placeholder;
      border-color: $cl-placeholder;
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }
    &:disabled {
      color: $cl-placeholder;
      border-color: $cl-placeholder;
    }
  }
}
