.rated-properties {
  padding: 3rem 0;
  min-height: 0;
  &__title {
    width: 25%;
    min-width: 8rem;
    min-height: 5rem;
    margin-bottom: 2rem;
  }
  &__propertie-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    border-radius: 15px;
    background-color: $cl-white;
    border-color: $cl-black;
    border-width: 3px;
    color: $cl-black;
    padding: 0.5rem 2rem;
    font-weight: 500;
    &:hover {
      color: $cl-white;
    }
  }
}
