.section {
  position: relative;
  display: flex;
  height: calc(100vh - #{$headerHeight});
  min-height: 25rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100vw;
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    width: 100%;
    padding: 1rem;
  }
}