.team-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  &__picture {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 20%;
    min-width: 12rem;
    min-height: 12rem;
    margin: 1rem;
  }
  &__name {
    font-size: 1.8rem;
  }
  &__content {
    font-family: $SourceSans3;
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 20rem;
    @media screen and (max-width: $breakpoint-tablet) {
      text-align: center;
    }
  }
  &__description {
  }
}
